<% include header.ejs %>

 <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">
                        <strong>Juomalista</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-lg-3 text-left">
                            <h3>Olut</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>Beers</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>0,3 L</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>0,5 L</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h4>Lapin kulta III	</h4>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h4>4,50 €</h4>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h4>6,00 €</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h4>Lapin kulta IV </h4>
                        </div>
                        <div class="col-lg-6 text-left">
                            <h4>4,90 €</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h4>Qingdao III </h4>
                        </div>
                        <div class="col-lg-6 text-left">
                            <h4>5,50 €</h4>
                        </div>
                    </div>
                    <hr>
                </div>

                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h3>Alkoholijuomat</h3>
                        </div>
                        <div class="col-lg-4 text-left">
                            <h3>Alcoholic Drinks</h3>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h3>0,3 L</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 text-left">
                            <h4>Siideri</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>4,90 €</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 text-left">
                            <h4>Gin long drink</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>4,90 €</h4>
                        </div>
                    </div>
                    <hr>
                </div>


                <div class="col-lg-7 text-center">
                    <div class="row">
                        <div class="col-lg-5 ext-left">
                            <h3>Virvoitusjuoma</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>Soft Drinks</h3>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h3>0,3 L</h3>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h3>0,5 L</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 text-left">
                            <h4>Pepsi,Pepsi max,7-up,Jaffa,Sodda vesi</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>2,50 €</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>3,00 €</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 text-left">
                            <h4>Appelsiinimehu,Omenamehu</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>2,50 €</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>3,00 €</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 text-left">
                            <h4>Kevyt maito</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>2,50 €</h4>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h4>3,00 €</h4>
                        </div>
                    </div>
                       <hr>
                </div>
                <div class="col-lg-5 text-center">
                    <div class="row">
                        <img src='img/sd.jpg'/>
                    </div>
                       <hr>
                </div>

                <hr>
                <div class="col-lg-5 text-center">
                    <div class="row">
                        <img class="img-responsive img-border img-right" src='img/ct.jpg'/>
                    </div>
                </div>
	<div class="col-lg-7 text-center">
		<div class="row">
			<div class="col-lg-5">
				<h3>Juomasekoitukset</h3>
			</div>
			<div class="col-lg-5">
				<h3>Coctails</h3>
			</div>
			<div class="col-lg-2">
				<h3>EURO</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4>9001</h4>
			</div>
			<div class="col-lg-4">
				<h4>Vodka Juice</h4>
			</div>
			<div class="col-lg-4">
				<h4>6,50</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4>9001</h4>
			</div>
			<div class="col-lg-4">
				<h4>Vodka Juice</h4>
			</div>
			<div class="col-lg-4">
				<h4>6,50</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4>9002</h4>
			</div>
			<div class="col-lg-4">
				<h4>Campari soda</h4>
			</div>
			<div class="col-lg-4">
				<h4>6,40</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4>9003</h4>
			</div>
			<div class="col-lg-4">
				<h4>Campari Orande</h4>
			</div>
			<div class="col-lg-4">
				<h4>6,40</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4>9004</h4>
			</div>
			<div class="col-lg-4">
				<h4>Gin Tonic</h4>
			</div>
			<div class="col-lg-4">
				<h4>6,90</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h4>9005</h4>
			</div>
			<div class="col-lg-4">
				<h4>Vodka sooda</h4>
			</div>
			<div class="col-lg-4">
				<h4>5,50 €</h4>
			</div>
		</div>
        <div class="row">
            <div class="col-lg-4">
                <h4>9006</h4>
            </div>
            <div class="col-lg-4">
                <h4>Kossuvichy</h4>
            </div>
            <div class="col-lg-4">
                <h4>5,50 €</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>9007</h4>
            </div>
            <div class="col-lg-4">
                <h4>Kossu Cola</h4>
            </div>
            <div class="col-lg-4">
                <h4>5,50 €</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>9008</h4>
            </div>
            <div class="col-lg-4">
                <h4>Mustaryssä</h4>
            </div>
            <div class="col-lg-4">
                <h4>5,40 €</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>9009</h4>
            </div>
            <div class="col-lg-4">
                <h4>Irish Coffee</h4>
            </div>
            <div class="col-lg-4">
                <h4>6,10 €</h4>
            </div>
        </div>
	</div>


            </div>
        </div>
</div>

<% include footer.ejs %>