<% include header.ejs %>

 <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">
                        <strong>Juomalista</strong>
                    </h1>
                    <hr>
                </div>
                <div class="row">
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h3>Olut(Beers)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>0,3 L</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>0,5 L</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h5>Lapin kulta III	</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>4,50 €</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>6,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h5>Lapin kulta IV </h5>
                        </div>
                        <div class="col-lg-6 text-left">
                            <h5>4,90 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 text-left">
                            <h5>Qingdao III </h5>
                        </div>
                        <div class="col-lg-6 text-left">
                            <h5>5,50 €</h5>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-lg-10 text-left">
                            <h3>Alkoholijuomat(Alcoholic Drinks)</h3>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h3>0,3 L</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 text-left">
                            <h5>Siideri</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>4,90 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 text-left">
                            <h5>Gin long drink</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>4,90 €</h5>
                        </div>
                    </div>

                </div>
               </div>
                <hr>

                 <div class="row">


                <div class="col-lg-6 text-left">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3>Juomasekoitukset(Coctails)</h3>
                        </div>
                        <div class="col-lg-2">
                            <h3>EURO</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9001</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Vodka Juice</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>6,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9001</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Vodka Juice</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>6,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9002</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Campari soda</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>6,40 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9003</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Campari Orande</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>6,40 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9004</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Gin Tonic</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>6,90 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9005</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Vodka sooda</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>5,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9006</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Kossuvichy</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>5,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9007</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Kossu Cola</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>5,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9008</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Mustaryssä</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>5,40 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>9009</h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Irish Coffee</h5>
                        </div>
                        <div class="col-lg-2">
                            <h5>6,10 €</h5>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6 text-left">
                    <div class="row">
                        <div class="col-lg-8 ext-left">
                            <h3>Virvoitusjuoma(Soft Drinks)</h3>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h3>0,3 L</h3>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h3>0,5 L</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 text-left">
                            <h5>Pepsi,Pepsi max,7-up,Jaffa,Sodda vesi</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>2,50 €</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>3,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 text-left">
                            <h5>Appelsiinimehu,Omenamehu</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>2,50 €</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>3,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 text-left">
                            <h5>Kevyt maito</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>2,50 €</h5>
                        </div>
                        <div class="col-lg-2 text-left">
                            <h5>3,00 €</h5>
                        </div>
                    </div>

                </div>
               </div>


                <hr>

                 <div class="row">
                    <div class="col-lg-6">
                        <h3>Punaviini(Red Wines)</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>12 cl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>16 cl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>24 cl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>½ pl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>1 pl</h3>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-2">
                        <h5>4801</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5>El Tiempo Tinto (Espanja)</h5><h5>Kevyt, pehmeä, akean marjaissa,hennon vaniljainen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>5.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>6.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>8.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>12.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>23.00 €</h5>
                    </div>
                 </div>

                  <div class="row">
                    <div class="col-lg-2">
                        <h5>6551</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5>Gato Negro Cabernet Sauvignon (Chile)</h5><h5>Keskitäyteläinen, notkea, herukkainen,makean mausteinen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>6.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>7.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>9.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>15.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>25.00 €</h5>
                    </div>
                 </div>

                 <div class="row">
                    <div class="col-lg-2">
                        <h5>6661</h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>Cono Sur Tocornal Cabernet Sauvignon (Chile)</h5><h5>Täyteläinen, notkea, herukkainen,mausteinen, kevyen yrttinen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>25.00 €</h5>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-2">
                        <h5>4401</h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>Viña Maipo Cabernet Sauvignon (Chile)</h5><h5>Keskitäyteläinen, notkea, kevyen herukkainen,hennon minttuinen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>25.00 €</h5>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-2">
                        <h5>6661</h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>Torres Sangre de Toro (Espanja)</h5><h5>Keskitäyteläinen, notkea, kirsikkainen,kypsän karpaloinen, mausteinen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>28.00 €</h5>
                    </div>
                 </div>


                  <hr>
                 <div class="row">
                    <div class="col-lg-2">
                        <h3>Punaviini</h3>
                    </div>
                    <div class="col-lg-4">
                        <h3>Red Wines</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>12 cl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>16 cl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>24 cl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>½ pl</h3>
                    </div>
                    <div class="col-lg-1">
                        <h3>1 pl</h3>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-lg-2">
                        <h5>4671</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5>El Tiempo Blanco (Espanja)</h5><h5>Makea, pehmeähappoinen, makean omenainen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>5.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>6.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>8.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>12.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>23.00 €</h5>
                    </div>
                 </div>

                  <div class="row">
                    <div class="col-lg-2">
                        <h5>8001</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5>Gato Negro Sauvignon Blanc (Chile)</h5><h5>Kuiva, pirteähappoinen, karviaismainen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>6.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>7.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>9.50 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>15.00 €</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>25.00 €</h5>
                    </div>
                 </div>

                 <div class="row">
                    <div class="col-lg-2">
                        <h5>7661</h5>
                    </div>
                    <div class="col-lg-8">
                        <h5>Moselland Riesling Kabinett (Saksa)</h5><h5>Puolikuiva, raikkaan hapokas, hennon aprikoosinen,kevyen sitruksinen, mineraallinen</h5>
                    </div>
                    <div class="col-lg-1">
                        <h5>25.00 €</h5>
                    </div>
                 </div>

            </div>
        </div>
</div>

<% include footer.ejs %>