    <div class="brand">Happy Food Garden</div>
    <div class="address-bar">Kalevankatu 23, 00100 Helsinki Finland</div>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-6 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="img/index/1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/index/2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/index/3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/index/4.jpg" alt="">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <hr>
                    <h2 class="intro-text text-center">Welcome to
                        <strong>Happy Food Garden</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="img/logo.png" alt="">
                    <hr class="visible-xs">
                    <p></p>
                    <p>
                    Tervetuloa Zhou’s Placeen! Tarjoamme parasta kiinalaista ruokaa Tampereen seudulla. Zhou’s Place erikoistuu kiinalaisiin keittiöihin – kokeile herkullisia Szechwan ruokia – sekä muita suosittuja kiinalaisruokia. Meidän lounas- ja illallisruokalistat tarjoavat erilaisia ruokia, jotka varmasti tyydyttävät ruokahalunne.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
        <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Go to
                        <strong>Happy Food Garden</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
                </div>
                <div class="col-md-4">
                    <p>Ma-Pe 11:00 am-16:00 pm. Lounas buffet 17:00 pm - 21:00 pm. Hot-pot & BBQ buffet</p>
                    <p>La-Su 12:00 am-16:00 pm. Lounas buffet 17:00 pm - 21:00 pm. Hot-pot & BBQ buffet</p>
                    <p>Phone:
                        <strong>+3589-680 1865</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:ouhuaoy@live.cn">ouhuaoy@live.cn</a></strong>
                    </p>
                    <p>Address:
                        <strong>Kalevankatu 23 00100
                            <br>Helsinki Finland</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
    <!-- /.container -->