       <% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">
                        <strong>Erikoisruuat</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-6 text-center">
                    <h1 class="intro-text text-center">
                        <strong>鸡肉 / Kanaa / Chicken</strong>
                    </h1>
                    <hr>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>23. 炸鸡 / Friteerattua kanaa hapanimeläkastikkeessa / Deep fried chicken with sweet and sour sauce</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>24. 双冬鸡 / Kanaa, kiinalais-sieniä ja bambuversoja /
                            Chicken with Chinese mushrooms and bamboo shoots</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>12,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>25. 北京鸡 / Peking kanaa / Peking chicken </h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>12,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>26. 洋葱鸡 / Kanaa ja sipulia /Chicken with onions </h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>27. 竹笋鸡 / Kanaa bambuversoja ja herkkusieniä / Chicken with bamboo shoots and mushrooms</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>28. 腰果鸡 / Kanaa ja cashew-pähkinöitä / Chicken with cashew nuts </h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>12,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>29. 菠萝鸡 / Kanaa ja ananasta / Chicken with pineapples </h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>30. 蔬菜鸡 / Kanaa ja vihanneksia / Chicken with vegetables</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>31. 咖喱鸡 / Kanaa currykastikkeessa / Chicken with curry sauce</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>15,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>32. 宫保鸡 / Kung Po kanaa / Kung Po chicken</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>12,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>33. 沙爹鸡 / Kanaa Sataykastikkeessa / Chicken with Satay sauce</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>34. 辣椒鸡 / Kanaa chilikastikkeessa / Chicken with chili sauce </h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>35. 豆豉鸡 / Kanaa ja paprikaa mustapapukastikkeessa / Chicken with black bean sauce</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>36. 铁板鸡 /Kanaa kuumalla rautalevyllä Sizzling / Chicken on hot plate</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>13,00 €</h5>
                        </div>
                    </div>
                </div>


       <!--right side-->
                       <div class="col-lg-6 text-center">
                    <h1 class="intro-text text-center">
                        <strong>猪肉 / Porsasta / Pork</strong>
                    </h1>
                    <hr>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>37. 咕咾肉 / Friteerattua porsasta hapanimeläkastikkeessa / Deep fried pork with sweet and sour sauce</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>38. 北京猪 / Peking porsasta / Peking pork</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>12,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>39. 蔬菜猪 / Porsasta ja vihanneksia / Pork with vegetables</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>40. 竹笋猪 / Porsasta, bambuversoja ja herkkusieniä / Pork with bamboo shoots and mushrooms
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>41. 鱼香猪 / Porsasta valkosipulikastikkeessa / Yushiang pork
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>11,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>42. 叉烧猪 / Grillattua porsasta ja kiinankaalia / Grilled pork whit Chinese cabbage
 </h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>12,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>43. 广东咕咾肉 / Porsasta Kantonilaisen tapaan / Pork Contonese style with sweat and sour sauce
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>12,50 €</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="./">&larr; Older</a>
                        </li>
                        <li class="next"><a href="2">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
     <% include footer.ejs %>