       <% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">
                        <strong>Erikoisruuat</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Peking ankaa(Peking duck)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>23,00 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Inkivääri härkää(Beef with ginger)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>13,90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Härkää sichuani kastikkeessa(Beef with sichuan sauce) </h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>13.90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Härkää makeassa chilikastikkeessa(Beef with chili sauce)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>13,90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Yu Xiang tofu ja kanaa (chili hapanimeläkastikkeessa)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>12,90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Kanaa sitruunakastikkeessa(Chicken with lemon sauce)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>14,90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Kenraali Tsaoin kanaa (General Tsaoin chicken)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>14,90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Friteerattua porsasta makeassa etikkakastikkeessa
    (Deep Fried pork with sweet vinegar sausce) </h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>12,90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Yu Xiang porsasta (chili hapanimeläkastikkeessa)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>12,90 €</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h3>Kenraali Tsaoin jättikatkarapuja(General Tsaoin prawns)</h3>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h3>17,90 €</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
     <% include footer.ejs %>