       <% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class="intro-text text-center">
                        <strong>Erikoisruuat</strong>
                    </h1>
                    <hr>
                </div>
                <div class="col-lg-6 text-center">
                    <h1 class="intro-text text-center">
                        <strong>后餐 Jälkiruoka Dessert</strong>
                    </h1>
                    <hr>
                 <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>81. 炸香蕉和冰
Friteerattua banaaneja ja jäätelöä
Deep fried banana with ice cream
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>5,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>82. 炸淇凌
Friteerattua jäätelöä
Deep fried ice cream
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>6,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>83. 什锦水果和冰
Hedelmäsalaattia ja jäätelöä
Fruits with ice cream
 </h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>5,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>84. 冰淇凌
Jäätelöä (3 palloa)
Ice cream (3 balls)
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>4,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>85. 荔枝和冰
Lychee ja jäätelöä
Lychee with ice cream
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>5,50 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>86. 炸菠萝和冰  / Friteerattua ananasta ja jäätelöä / Deep fried pineapples with ice cream</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>5,00 €</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 text-left">
                            <h5>87. 虾片 /
Katkarapulastu /
Prawn crackers
</h5>
                        </div>
                        <div class="col-lg-3 text-left">
                            <h5>3,50 €</h5>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="3">&larr; Older</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->
     <% include footer.ejs %>